.navbar-fixed-top {
    height: 40px;
    background-color: white;
    width: 100%;
    opacity: .8;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    max-width: 300px;
    float: left;
}

.container {
    margin: 40px;
}

body {
    background: #C2E0FF;
}
